
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: url("./images/Bitmap.png") no-repeat center center;
    filter: grayscale(100%);
    background-size: cover;
    z-index: -1;
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: radial-gradient(circle at top, rgba(0, 0, 0,0.1) 3%, rgba(20, 17, 28, 1) 100%);
    z-index: -1;
    background-size: 100%, 99.9%;
}
header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    width: -webkit-fill-available;
    backdrop-filter: blur(1px);
}
